// Settings
@import "./config/variables";
@import "./config/base";
@import "./config/mixins";
@import "./config/layout";
@import "./config/theme";

// Components
@import "./components/main-header";
@import "./components/main-logo";
@import "./components/main-banner";
@import "./components/main-nav";
@import "./components/forms";
@import "./components/main-footer";