*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: $height-main-header 1fr $height-main-footer;
	min-height: 100vh;
}