@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
	background-color: $bg-body;
	color: $body-color;
	font-family: 'Roboto', sans-serif;
}

// Theme colors
$colors: (
	color-1: #3776E8,
	color-2: #494C55
);

@each $key, $color in $colors {
	[class*="bg-#{$key}"],
	[class*=" bg-#{$key}"] {
		background-color: #{$color};
	}
}